spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      routes:
        # ===============================
        # Auth Service (PUBLIC + PROTECTED)
        # ===============================
        - id: auth-service
          uri: http://auth-service:3001
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - JwtValidationFilter

        # ===============================
        # User + Admin Service (JWT REQUIRED)
        # ===============================
        - id: user-service
          uri: http://user-service:3002
          predicates:
            - Path=/api/v1/users/**,/api/v1/admin/**
          filters:
            - JwtValidationFilter

        # ===============================
        # Job Service (JWT REQUIRED)
        # ===============================
        - id: job-service
          uri: http://job-service:3003
          predicates:
            - Path=/api/v1/jobs/**
          filters:
            - JwtValidationFilter

        # ===============================
        # Application Service (JWT REQUIRED)
        # ===============================
        - id: application-service
          uri: http://application-service:3004
          predicates:
            - Path=/api/v1/applications/**,/api/v1/application/**
          filters:
            - RewritePath=/api/v1/applications/(?<segment>.*), /api/v1/application/$\{segment}
            - JwtValidationFilter
